<!DOCTYPE html>
<html lang="en">
<head>
	<meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
	<title th:text="#{header.title}">Title</title>
	<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
</head>
<body>
<script>
	var config = null;
	$(document).ready(function() {
		$.get("ajax/app/init", function(data) {
			config = data;
			$("#ActualWeather").html(config.weather.temperature);
			$("#Location").html(config.location.countryName);
			alert( "Load was performed." );
			$("#WeatherAlternatives").clear;
			$("#WeatherAlternatives").append(config.weatherOptions);
		});
	});
</script>
<h1 th:text="#{body.h1}">Better Weather</h1>
<h2 th:text="#{section.weather.title}">Actual Weather</h2>
Actual Weather: <span id="ActualWeather">ActualWeather</span><br />
Location: <span id="Location">Location</span><br />
<form action="#" th:action="@{/ajax/locations/search}" method="post">
	<input type="text" />
	<button type="submit" name="searchLocation" th:text="#{section.weather.location.search}">Search Location</button>
</form>
<div id="WeatherIcon">ICON</div>
<form action="#" th:action="@{/ajax/locations/search}" method="post">
	<input type="text" />
	<button type="submit" name="searchLocation" th:text="#{section.weather.location.search}">Search Location</button>
</form>
<div id="WeatherAlternatives">NewWeather</div>
<div>Price</div>
<button>OK</button>
<div>Select Organization</div>
<div>Organization Detail</div>
<div>Signup</div>
<div>Payment Info</div>
<div>DONE</div>
</body>
</html>
