<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
	<meta charset="utf-8">
	<title>Bootstrap 3, from LayoutIt!</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="">

	<link href="css/emu/bootstrap.css" rel="stylesheet" />
	<link href="css/style.css" rel="stylesheet" />

	<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
	<!--[if lt IE 9]>
	<script src="js/html5shiv.js"></script>
	<![endif]-->

	<script type="text/javascript" src="js/jquery.min.js"></script>
	<script type="text/javascript" src="js/bootstrap.min.js"></script>
	<script type="text/javascript" src="js/scripts.js"></script>
</head>

<body>
<div class="container">
	<div class="row clearfix">
		<div class="col-md-12 column">
			<div class="row clearfix">
				<div class="col-md-3 column">
					<img alt="140x140" src="http://lorempixel.com/140/140/">
				</div>
				<div class="col-md-9 column">
					<div class="jumbotron">
						<h1>
							EMU
						</h1>
						<p>
							This is a template for a simple marketing or informational website. It includes a large callout called the hero unit and three supporting pieces of content. Use it as a starting point to create something more unique.
						</p>
						<p>
							<a class="btn btn-success btn-large" href="#">Start</a>
						</p>
					</div>
				</div>
			</div>
			<nav class="navbar navbar-default" role="navigation">

				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<form class="navbar-form navbar-left" role="search">
						<div class="form-group">
							<input type="text" class="form-control">
						</div> <button type="submit" class="btn btn-default">Submit</button>
					</form>
					<ul class="nav navbar-nav navbar-right">
						<li>
							<a href="#">Link</a>
						</li>
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown<strong class="caret"></strong></a>
							<ul class="dropdown-menu">
								<li>
									<a href="#">Action</a>
								</li>
								<li>
									<a href="#">Another action</a>
								</li>
								<li>
									<a href="#">Something else here</a>
								</li>
								<li class="divider">
								</li>
								<li>
									<a href="#">Separated link</a>
								</li>
							</ul>
						</li>
					</ul>
				</div>

			</nav>
			<div class="row clearfix">
				<div class="col-md-6 column">
					<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d83390.92185760972!2d18.748330099999997!3d49.220166049999996!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ssk!2ssk!4v1400186742324" frameborder="0" style="border:0"></iframe>
				</div>
				<div class="col-md-6 column">
					<div class="panel-group" id="panel-363898">
						<div class="panel panel-default">
							<div class="panel-heading">
								<a class="panel-title" data-toggle="collapse" data-parent="#panel-363898" href="#panel-element-631008">Koncert Skupiny Knedla</a>
							</div>
							<div id="panel-element-631008" class="panel-collapse in">
								<div class="panel-body">
									Anim pariatur cliche...
								</div>
							</div>
						</div>
						<div class="panel panel-default">
							<div class="panel-heading">
								<a class="panel-title collapsed" data-toggle="collapse" data-parent="#panel-363898" href="#panel-element-304236">Oslava Zilinskej Hmly</a>
							</div>
							<div id="panel-element-304236" class="panel-collapse collapse">
								<div class="panel-body">
									Anim pariatur cliche...
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row clearfix">
				<div class="col-md-6 column">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h3 class="panel-title">
								Nastavenie Zobrazenia
							</h3>
						</div>
						<div class="panel-body">
							<form role="form">
								<div class="btn-group">
									<button type="button" class="btn btn-default">Default</button>
									<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
									<ul class="dropdown-menu">
										<li><a href="#">Action</a></li>
										<li><a href="#">Another action</a></li>
										<li><a href="#">Something else here</a></li>
										<li class="divider"></li>
										<li><a href="#">Separated link</a></li>
									</ul>
								</div>

								<div class="progress">
									<div class="progress-bar progress-success">
									</div>
								</div>
								<button type="submit" class="btn btn-success">Submit</button>
							</form>
						</div>
					</div>
				</div>
				<div class="col-md-6 column">
					<img alt="140x140" src="http://lorempixel.com/140/140/">
				</div>
			</div>
		</div>
	</div>
</div>
</body>
</html>
<!--
<html lang="en">
<head>
	<meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
	<title th:text="#{header.title}">Title</title>
	<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
</head>
<body>
<script>
	var config = null;
	$(document).ready(function() {
		$.get("ajax/app/init", function(data) {
			config = data;
			$("#ActualWeather").html(config.weather.temperature);
			$("#Location").html(config.location.countryName);
			alert( "Load was performed." );
			$("#WeatherAlternatives").clear;
			$("#WeatherAlternatives").append(config.weatherOptions);
		});
	});
</script>
<h1 th:text="#{body.h1}">Better Weather</h1>
<h2 th:text="#{section.weather.title}">Actual Weather</h2>
Actual Weather: <span id="ActualWeather">ActualWeather</span><br />
Location: <span id="Location">Location</span><br />
<form action="#" th:action="@{/ajax/locations/search}" method="post">
	<input type="text" />
	<button type="submit" name="searchLocation" th:text="#{section.weather.location.search}">Search Location</button>
</form>
<div id="WeatherIcon">ICON</div>
<form action="#" th:action="@{/ajax/locations/search}" method="post">
	<input type="text" />
	<button type="submit" name="searchLocation" th:text="#{section.weather.location.search}">Search Location</button>
</form>
<div id="WeatherAlternatives">NewWeather</div>
<div>Price</div>
<button>OK</button>
<div>Select Organization</div>
<div>Organization Detail</div>
<div>Signup</div>
<div>Payment Info</div>
<div>DONE</div>
</body>
</html>
-->